{{ define "css" }}
<link rel="stylesheet" href="{{.Site.BaseURL}}css/timeline.css">
{{ end }}

{{ define "main" }}
<div class="container mt-3">

    <div class="row mb-3 h-100">





        <div class="col-12">

            <div class="col-12">
                <p class="bg-light p-3 text-center">
                    {{ $event_len := len .Site.Data.alum_timeline.events }}
                    <span class="h2"><strong><i class="far fa-calendar-alt"></i>
                        <span class="ms-2">{{ $event_len }}</span></strong> Alumni Events </span>
                    <br>
                    <span class="small">in a reverse chronological order</span></p>

            </div>

            <div class="timeline" id="timeline-wrapper">


                {{ range $index, $item := sort .Site.Data.alum_timeline.events "order" "desc" }}


                        <div class="timeline-container {{ if modBool $index 2 }}timeline-left{{else}}timeline-right{{end}}">


                                <div class="timeline-content">
                                    {{with $item.url}}
                                    <img src="{{$.Site.BaseURL}}{{.}}" class="img-fluid img-thumbnail">
                                    {{end}}
                                    {{with $item.title}}
                                    <h5> <span class="badge bg-dark text-white my-2">{{ sub $event_len $index }}</span> {{.}}</h5>
                                    {{end}}
                                    {{with $item.role}}<p><i class="fas fa-users"></i>&nbsp;{{.}}&nbsp;</p>{{end}}
                                    {{with $item.date}}<p><i class="far fa-calendar-alt"></i>&nbsp;{{.}}</p>{{end}}
                                    {{with $item.desc}}<p class="timeline-content-description">{{.}}</p>{{end}}
                                </div>


                      </div>

                {{ end }}

            </div>

        </div>


    </div>

</div>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}
