{{ define "css" }}
<link rel="stylesheet" href="{{.Site.BaseURL}}css/timeline.css">
{{ end }}

{{ define "main" }}
<div class="container mt-3">

    <div class="row mb-3 h-100">

        <div class="col-12 col-lg-6">
            {{ with .Site.Data.csaa }}
            <h5><i class="fas fa-graduation-cap"></i>
                <a target="_blank" href="{{.url}}">{{.title}}</a></h5>
            <ul class="list-unstyled">
                {{ range .roles }}
                <li>{{if .year}}<span class="badge badge-pill badge-warning">{{.year}}</span>{{end}}
                    <span class="badge badge-pill badge-info">{{.title}}</span></li>
                {{ end }}

            </ul>
            {{ end }}

        </div>

        <div class="col-12 col-lg-6 p-2">

            {{ with .Site.Data.cseaa }}
            <h5><i class="fas fa-graduation-cap"></i>
                <a target="_blank" href="{{.url}}">{{.title}}</a></h5>
            <ul class="list-unstyled">
                {{ range .roles }}
                <li>{{if .year}}<span class="badge badge-pill badge-warning">{{.year}}</span>{{end}}
                    <span class="badge badge-pill badge-info">{{.title}}</span></li>
                {{ end }}

            </ul>
            {{ end }}

        </div>



        <div class="col-12">

            <div class="col-12">
                <p class="bg-light p-3 text-center">
                    {{ $event_len := len .Site.Data.alum_timeline.events }}
                    <span style="font-size:x-large"><strong><i class="far fa-calendar-alt"></i>
                        {{ $event_len }} Alumni events </strong></span>
                    in a reverse chronological order </p>
            </div>

            <div class="timeline" id="timeline-wrapper">


                {{ range $index, $item := sort .Site.Data.alum_timeline.events "order" "desc" }}


                        <div class="timeline-container {{ if modBool $index 2 }}timeline-left{{else}}timeline-right{{end}}">


                                <div class="timeline-content">
                                    {{with $item.url}}
                                    <img src="{{$.Site.BaseURL}}{{.}}" class="img-fluid img-thumbnail">
                                    {{end}}
                                    {{with $item.title}}
                                        <h5>#{{ sub $event_len $index }} : {{.}}</h5>
                                    {{end}}
                                    {{with $item.role}}<p><i class="fas fa-users"></i>&nbsp;{{.}}&nbsp;</p>{{end}}
                                    {{with $item.date}}<p><i class="far fa-calendar-alt"></i>&nbsp;{{.}}</p>{{end}}
                                    {{with $item.desc}}<p class="timeline-content-description">{{.}}</p>{{end}}
                                </div>


                      </div>

                {{ end }}

            </div>

        </div>


    </div>

</div>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}
