
{{ define "css" }}
<style>
    #profile-image {
        width: 150px;
        height: auto !important;
    }
    .profile-background {
        background-image: url("{{$.Site.BaseURL}}css/pattern.png");
        background-repeat: repeat;
    }
</style>
{{ end }}

{{ define "main" }}

<div class="container">
    <div class="row my-2">
        <div class="col-12 col-lg-3 p-2 text-center">
            <div class="profile-background py-2">
                <div>
                    {{ with .Site.Data.homepage }}
                    <img id="profile-image" class="rounded-circle img-thumbnail my-2"
                         src="{{.profile_url}}" alt="Profile Image">
                    {{ end }}
                </div>

                <div>
                    <h4>{{ with .Site.Params.author }} {{.}} {{ end }}</h4>

                    {{ with .Site.Data.homepage.office }}
                    <p class="small">
                        {{.job}} <br>
                        <a {{if .ext}}target="_blank"{{end}} href="{{.url}}">
                            {{ .room }} <em>{{.sub}}</em></a></p>
                    {{ end }}
                </div>

            </div>
        </div>

        <div class="col-12 col-lg-9 text-left mb-2 p-3">
            <h5 class="my-2">
                <span class="badge bg-danger">HEAT</span>
                <span >=</span>
                <span class="badge bg-success">Hackathon Expert</span>
                <span >+</span>
                <span class="badge bg-success">Entrepreneur</span>
                <span >+</span>
                <span class="badge bg-success">Alumni</span>
                <span >+</span>
                <span class="badge bg-success">Teacher</span>
            </h5>

            <p class="small text-justify">
                {{ with .Site.Data.homepage.description }}
                {{.}}
                {{ end }}
            </p>

            {{ with .Site.Data.homepage.tags }}
                 {{ range . }}
               <p >
                <span class="badge bg-success">{{.name}}</span>
                   {{ with .desc }} <span class="small"> {{ . }} </span> {{end}}
                </p>
               {{ end }}

            {{ end }}

        </div>
    </div>

    <div class="row my-2">
        <div class="col-12 col-lg-6 p-2">
            {{ with .Site.Data.teaching }}
            <h5>
                <i class="fas fa-users"></i>
                <span class="ms-2">{{ len .educator }} {{.educator_title}}</span>
            </h5>
            <ul class="list-unstyled">
                {{ range .educator }}
                <li>{{if .year}}<span class="badge rounded-pill bg-warning">{{.year}}</span>{{end}}
                    <span class="badge rounded-pill bg-info">{{.title}}</span>
                    {{ if .url }}<a target="_blank" href="{{.url}}">{{.group}}</a>{{ else }} {{ .group }} {{ end }}
                </li>
                {{ end }}
            </ul>
            {{ end }}

        </div>

        <div class="col-12 col-lg-6 p-2">
            {{ with .Site.Data.teaching }}
            <h5>
                <i class="fas fa-certificate"></i>
                <span class="ms-2">{{ len .academic}} {{.academic_title}}</span>
            </h5>
            <ul class="list-unstyled">
                {{ range .academic }}
                <li><span class="badge rounded-pill bg-warning">{{.year}}</span>
                    <span class="badge rounded-pill bg-info">{{.level}}</span>
                    <span class="badge rounded-pill bg-info">{{.degree}}</span>
                    <br>
                    {{.university}} {{ if .special}}
                    <small> ({{.special}})</small>
                    {{end}}
                </li>
                {{ end }}
            </ul>
            {{ end }}

            {{ with .Site.Data.teaching }}
            <h5>
                <i class="fas fa-trophy"></i>
                <span class="ms-2">{{len .awards}} {{.award_title}} </span>
            </h5>
            <ul class="list-unstyled">
                {{ range .awards }}
                <li><span class="badge rounded-pill bg-warning">{{.year}}</span>
                    <span class="badge rounded-pill bg-info">{{.title}}</span>
                    {{.group}}
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>

        <div class="col-12 col-lg-6">
            {{ with .Site.Data.hackathon }}
            <h5>
                <i class="fas fa-trophy"></i>
                <span class="ms-2">{{len .awards}} {{.award_title}}</span>
            </h5>
            <ul class="list-unstyled">
                {{ range .awards }}
                <li>{{if .year}}<span class="badge rounded-pill bg-warning">{{.year}}</span>{{end}}
                    <span class="badge rounded-pill bg-info">{{.keyword}}</span>

                    {{ if .url }}
                    <a href="{{.url}}" target="_blank">{{.description}}</a>
                    {{ else }}
                    {{.description}}
                    {{ end }}

                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>

        <div class="col-12 col-lg-6 p-2">
            {{ with .Site.Data.hackathon }}
            <h5>
                <i class="fas fa-lightbulb"></i>
                <span class="ms-2">{{len .expert}} {{.expert_title}} </span>
            </h5>
            <ul class="list-unstyled">
                {{ range .expert }}
                <li>
                    {{if .year}}<span class="badge rounded-pill bg-warning">{{.year}}</span>{{end}}
                    <span class="badge rounded-pill bg-info">{{.keyword}}</span>


                    {{ if .url }}
                    <a href="{{.url}}" target="_blank">{{.description}}</a>
                    {{ else }}
                    {{.description}}
                    {{ end }}

                </li>
                {{ end }}
            </ul>
            {{ end }}

        </div>

 

        <div class="col-12 col-lg-6">
            {{ with .Site.Data.csaa }}
            <h5>
                <i class="fas fa-graduation-cap"></i>
                <span class="ms-2">{{.title}}</span>
            </h5>
            <ul class="list-unstyled">
                {{ range .roles }}
                <li>{{if .year}}<span class="badge rounded-pill bg-warning">{{.year}}</span>{{end}}
                    <span class="badge rounded-pill bg-info">{{.title}}</span></li>
                {{ end }}

            </ul>
            {{ end }}

            {{ with .Site.Data.cseaa }}
            <h5>
                <i class="fas fa-graduation-cap"></i>
                <span class="ms-2">{{.title}}</span>
            </h5>
            <ul class="list-unstyled">
                {{ range .roles }}
                <li>{{if .year}}<span class="badge rounded-pill bg-warning">{{.year}}</span>{{end}}
                    <span class="badge rounded-pill bg-info">{{.title}}</span></li>
                {{ end }}

            </ul>
            {{ end }}

        </div>

        <div class="col-12 col-lg-6 p-2">

            {{ with .Site.Data.volunteer }}
            <h5>
                <i class="fas fa-handshake"></i>
                <span class="ms-2">{{len .roles}} {{.title}}</span>
            </h5>
            <ul class="list-unstyled">
                {{ range .roles }}
                <li>{{if .year}}<span class="badge rounded-pill bg-warning">{{.year}}</span>{{end}}
                    <span class="badge rounded-pill bg-info">{{.title}}</span>
                    {{.event}}</li>
                {{ end }}

            </ul>
            {{ end }}

        </div>

    </div>
</div>

{{ end }}


{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}
