{{ define "main" }}

<div class="container mt-3">
    <div class="row mb-3 h-100">


        <div class="col-12 col-lg-6 p-2">

            {{ with .Site.Data.teaching }}
            <h5><i class="fas fa-lightbulb"></i>&nbsp;{{.educator_title}} </h5>
            <ul class="list-unstyled">
                {{ range .educator }}
                <li>{{if .year}}<span class="badge badge-pill badge-warning">{{.year}}</span>{{end}}
                    <span class="badge badge-pill badge-info">{{.title}}</span>
                    {{ if .url }}<a target="_blank" href="{{.url}}">{{.group}}</a>{{ else }} {{ .group }} {{ end }}
                </li>
                {{ end }}
            </ul>
            {{ end }}

        </div>


        <div class="col-12 col-lg-6 p-2">

            {{ with .Site.Data.teaching }}
            <h5><i class="fas fa-certificate"></i>&nbsp;{{.academic_title}}</h5>
            <ul class="list-unstyled">
                {{ range .academic }}
                <li><span class="badge badge-pill badge-warning">{{.year}}</span>
                    <span class="badge badge-pill badge-info">{{.level}},{{.degree}}</span>
                    {{.university}} {{ if .special}}
                    <small> ({{.special}})</small>
                    {{end}}
                </li>
                {{ end }}
            </ul>
            {{ end }}

            {{ with .Site.Data.teaching }}
            <h5><i class="fas fa-trophy"></i>&nbsp;{{.award_title}} </h5>
            <ul class="list-unstyled">
                {{ range .awards }}
                <li><span class="badge badge-pill badge-warning">{{.year}}</span>
                    <span class="badge badge-pill badge-info">{{.title}}</span>
                    {{.group}}
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>


        <div class="col-12">

            <div class="col-12">
                <p class="bg-light p-3 text-center">

                    {{ $.Scratch.Set "report_count"  0 }}
                    {{ with .Site.Data.evaluation }}
                        {{ range .course }}
                            {{ if .reports }}
                                {{  $.Scratch.Add "report_count" (len .reports) }}
                            {{ end }}
                        {{ end }}
                        {{ range .course_bridging }}
                            {{ if .reports }}
                                {{  $.Scratch.Add "report_count" (len .reports) }}
                            {{ end}}
                        {{ end }}
                    {{ end }}


                    <span style="font-size:x-large"><strong><i class="far fa-calendar-alt"></i>
                        {{ $.Scratch.Get "report_count" }}</strong> teaching evalution reports received </span>
                     </p>
            </div>


            <h5><i class="fas fa-tachometer-alt"></i>&nbsp;Teaching Evaluation -
                {{ with .Site.Data.evaluation}} {{ len .course }} {{ end }}Regular Courses</h5>

            <ul class="nav nav-pills" role="tablist">
                {{ with .Site.Data.evaluation }}
                {{ range $i, $c := .course }}
                {{ if $c.id }}
                <li class="nav-item">
                    <a class="nav-link {{if eq $i 0}}active{{end}}" id="pills-{{$c.id}}-tab"
                       data-toggle="pill" href="#pills-{{$c.id}}" role="tab"
                       aria-controls="pills-{{$c.id}}" aria-selected="true">{{$c.id}}</a>
                </li>
                {{end}}
                {{ end }}
                {{ end }}

            </ul>
            <div class="tab-content">
                {{ with .Site.Data.evaluation }}
                {{ range $i, $c := .course }}
                <div class="tab-pane fade show {{if eq $i 0}}active{{end}}" id="pills-{{$c.id}}" role="tabpanel"
                     aria-labelledby="pills-{{$c.id}}-tab">
                    {{ partial "tab_content" $c }}
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>


        <div class="col-12 mt-3">
            <h5><i class="fas fa-tachometer-alt"></i>&nbsp;Teaching Evaluation -
                {{ with .Site.Data.evaluation}} {{ len .course_bridging }} {{ end }}Bridging Courses</h5>

            <ul class="nav nav-pills" role="tablist">
                {{ with .Site.Data.evaluation }}
                {{ range $i, $c := .course_bridging }}
                {{ if $c.id }}
                <li class="nav-item">
                    <a class="nav-link {{if eq $i 0}}active{{end}}" id="pills-{{$c.id}}-tab"
                       data-toggle="pill" href="#pills-{{$c.id}}" role="tab"
                       aria-controls="pills-{{$c.id}}" aria-selected="true">{{$c.id}}</a>
                </li>
                {{end}}
                {{ end }}
                {{ end }}

            </ul>
            <div class="tab-content">
                {{ with .Site.Data.evaluation }}
                {{ range $i, $c := .course_bridging }}
                <div class="tab-pane fade show {{if eq $i 0}}active{{end}}" id="pills-{{$c.id}}" role="tabpanel"
                     aria-labelledby="pills-{{$c.id}}-tab">
                    {{ partial "tab_content" $c }}
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>




    </div>

</div>


{{ end }}

{{ define "footer" }}

{{ partial "footer.html" . }}

{{ end }}