{{ define "main" }}

<div class="container mt-3">
    <div class="row mb-3 h-100">

        <div class="col-12">

            <div class="col-12">

                <p class="bg-light p-3 text-center">
                    <span class="h2"><i class="fas fa-book"></i>
                        <strong>{{ partial "evaluation_report_count.html" . }}</strong> Teaching Evaluation Reports</span>
                    <br>
                    <span class="small"> 
                        All reports (in PDF <i class="far fa-file-pdf"></i> format) can be downloaded by the links below</span>
                </p>

            </div>

            <h5><i class="fa fa-list-alt" ></i>&nbsp;Overall Rating</h5>
           
            <div class="col-12 col-md-9 col-lg-6 offset-lg-3 p-3">

                <img src="/evaluation/summary.png" class="mx-auto d-block img-fluid"
                 alt="summary of teaching evaluation reports">
                <br>
                 <span class="small">
                    NA (Not Applicable) ratings are excluded
                    <br>
                    Suitable mappings are applied on the ratings prior to Fall 2008
                </span>
            </div>

            

            <h5><i class="fas fa-comments"></i>&nbsp;Selected Feedback</h5>
            <div class="col-12 p-3 mb-3">
                <ul style="list-style-type: none;">
                {{ with .Site.Data.best_comments }}
                    {{  range .comments}}
                        <li>
                            <i class="far fa-thumbs-up"></i> {{ .content}}
                            <br>
                            <span class="small">
                                quoted from a student in 
                                <a href="/evaluation/{{.report}}" target="_blank">
                                    <i class="far fa-file-pdf"></i>
                                    {{.course}} {{.section}} {{.semester}}
                                </a>
                            </span> 
                            <br><br>
                        </li>
                    {{end}}
                {{end}}
                </ul>
             </div>
 
            


            <h5><i class="fas fa-tachometer-alt"></i>&nbsp;Teaching Evaluation Reports
                <span class="small">
                    {{ with .Site.Data.evaluation}} from {{ len .course }} {{ end }}regular courses</span></h5>

            <ul class="nav nav-pills" role="tablist">
                {{ with .Site.Data.evaluation }}
                {{ range $i, $c := .course }}
                {{ if $c.id }}
                <li class="nav-item">
                    <a class="nav-link {{if eq $i 0}}active{{end}}" id="pills-{{$c.id}}-tab"
                       data-toggle="pill" href="#pills-{{$c.id}}" role="tab"
                       aria-controls="pills-{{$c.id}}" aria-selected="true">{{$c.id}}</a>
                </li>
                {{end}}
                {{ end }}
                {{ end }}

            </ul>
            <div class="tab-content">
                {{ with .Site.Data.evaluation }}
                {{ range $i, $c := .course }}
                <div class="tab-pane fade show {{if eq $i 0}}active{{end}}" id="pills-{{$c.id}}" role="tabpanel"
                     aria-labelledby="pills-{{$c.id}}-tab">
                    {{ partial "tab_content" $c }}
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>


        <div class="col-12 mt-3">
            <h5><i class="fas fa-tachometer-alt"></i>&nbsp;Teaching Evaluation Reports
                <span class="small">
                    {{ with .Site.Data.evaluation}} from {{ len .course_bridging }} {{ end }}bridging courses</span></h5>

            <ul class="nav nav-pills" role="tablist">
                {{ with .Site.Data.evaluation }}
                {{ range $i, $c := .course_bridging }}
                {{ if $c.id }}
                <li class="nav-item">
                    <a class="nav-link {{if eq $i 0}}active{{end}}" id="pills-{{$c.id}}-tab"
                       data-toggle="pill" href="#pills-{{$c.id}}" role="tab"
                       aria-controls="pills-{{$c.id}}" aria-selected="true">{{$c.id}}</a>
                </li>
                {{end}}
                {{ end }}
                {{ end }}

            </ul>
            <div class="tab-content">
                {{ with .Site.Data.evaluation }}
                {{ range $i, $c := .course_bridging }}
                <div class="tab-pane fade show {{if eq $i 0}}active{{end}}" id="pills-{{$c.id}}" role="tabpanel"
                     aria-labelledby="pills-{{$c.id}}-tab">
                    {{ partial "tab_content" $c }}
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>




    </div>

</div>


{{ end }}

{{ define "footer" }}

{{ partial "footer.html" . }}

{{ end }}