{{ define "main" }}

<div class="container mt-3">
    <div class="row mb-3 h-100">

        <div class="col-12">

            <p class="bg-light p-3 text-center">
                <span class="h2"><i class="far fa-comments"></i>
                 <strong> 
                    <span class="ms-2">{{len .Site.Data.testimonial.item}} </span>

                 </strong>Selected Testimonials</span>
                <br>
                <span class="small">in a chronological order</span> </p>


            </p>

        </div>

        {{ with .Site.Data.testimonial }}
        {{ range .item }}
        <div class="col-12 p-5 mb-3 card">


                <blockquote class="blockquote">
                    <p class="small text-justify">{{.abstract}}</p>
                    <br>
                    <footer class="blockquote-footer"><strong>{{.name}}</strong>
                    <br> 
                    <cite title="{{.title}}">{{.title}}</cite>
                    </footer>
                </blockquote>

                <div>

                    {{range .tags}}
                    <span class="badge rounded-pill bg-info">{{.}}</span>
                    {{end}}
                    <span class="badge rounded-pill bg-warning"><i class="far fa-calendar-alt"></i>&nbsp;{{.date}}</span>

                    {{if .ref_url}}
                    <br><br>
                    <a href="{{.ref_url}}" target="_blank"><i class="fas fa-link"></i>
                        <span class="ms-1">{{.ref_url_name}}</span></a>
                    {{end}}
                </div>
        </div>
        {{ end }}
        {{ end }}



    </div>
</div>

{{end}}

{{ define "footer" }}

{{ partial "footer.html" . }}

{{ end }}