<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> <i class="{{navbar_icon}}"></i> 
            <span class="ms-1">{{navbar_text}}</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for item in navbar_menu %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{item.url}}">
                                {% if item.icon %}
                                    <i class="{{item.icon}}"></i>
                                {% endif %}
                                {% if item.name %}
                                <span class="ms-1">{{item.name}}</span>
                                {% endif %}
                            </a>
                        </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>