<!DOCTYPE html>
<html lang="en">
<head>

    {{ partial "meta.html" . }}
    {{ block "page_meta" . }}
    {{ end }}

    {{ partial "favicon.html" . }}
    {{ template "_internal/google_analytics_async.html" . }}

    <title>{{ block "title" . }} {{ .Site.Title }}  {{end}}</title>

    {{ partial "share_css" . }}

    {{ block "css" . }}
    {{ end }}
</head>
<body>

    {{ partial "navbar" . }}

    {{ block "main" . }}
    {{ end }}

    {{ block "footer" . }}
    {{ end }}


    {{ partial "share_js" . }}

</body>
</html>