{{ define "css" }}
<style>
    .jumbotron {
        background-image: url("{{$.Site.BaseURL}}css/pattern.png");
        background-repeat: repeat;
    }
</style>
{{ end }}

{{ define "main" }}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>{{.Title}}</h1>
        <p class="lead">{{.Content}}</p>
    </div>
</div>


<div class="container mt-3">

    <div class="row mb-3 w-100 p-3">

        <div class="col-12 col-lg-3 p-2">

            {{ partial "sidebar.html" . }}

        </div>

        <div class="col-12 col-lg-9 p-2">

            {{ $paginator := .Paginate (where .Data.Pages "Type" "article") }}

            {{ range $paginator.Pages }}


                <div class="card p-3 mb-2">

                    {{ if .Params.banner }}
                        {{ $img_path := printf "%s%s" .RelPermalink .Params.banner }}
                        <img src="{{$img_path}}" class="p-3 img-fluid" >
                    {{ end }}


                <h3>{{.Title}}</h3>
                <p class="small"><i class="far fa-calendar-alt"></i>
                    {{ .Date.Format "January 2, 2006" }}</p>

                <p class="small">{{ .Summary }}</p>



                    <a href="{{ .RelPermalink }}" ><button type="button" class="btn btn-outline-primary">Continue Reading
                        <i class="fas fa-angle-double-right"></i>
                    </button></a>
                </div>

            {{ end }}

            <nav aria-label="Article Navigation Control">
                <ul class="pagination justify-content-center">
                  {{ partial "pagination" . }}
                </ul>
            </nav>


        </div>



    </div>



</div>

{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}