{{ if .id }}
    <div class="card p-3">
        <h5>{{.id}} - {{with .title}}{{.}}{{end}}
        </h5>

        <div class="row">
            <div class="col-12 col-md-9 col-lg-6 offset-lg-3 p-3">

                <img src="/evaluation/{{.id}}.png" class="mx-auto d-block img-fluid"
                alt="summary of teaching evaluation reports">
                <br>
                <span class="small">
                    NA (Not Applicable) ratings are excluded
                    <br>
                    Suitable mappings are applied on the ratings prior to Fall 2008
                </span>
            </div>
        </div>

        <div class="row justify-content-lg-center">

            <div class="col-12 col-lg-6  mb-2 p-2" >


                    <p class="text-success"><i class="far fa-thumbs-up"></i> What was good about Peter?</p>
                    {{ if .good_comments }}
                    <ol class="small">
                        {{ range .good_comments }}
                        <li>{{.}}</li>
                        {{ end }}
                    </ol>
                    {{ else }}
                        <p>N/A</p>
                    {{ end }}



            </div>

            <div class="col-12 col-lg-6  mb-2 p-2">

                    <p class="text-danger"> <i class="far fa-thumbs-down"></i> How might Peter be improved? </p>
                    {{ if .bad_comments }}
                    <ol class="small">
                        {{ range .bad_comments}}
                        <li>{{.}}</li>
                        {{ end }}
                    </ol>
                    {{ else }}
                        <p>N/A</p>
                    {{ end }}


            </div>


        </div>


        {{ if .reports }}
        <p>
           <span class="badge badge-info mb-2 p-2">
            <i class="fa fa-download"></i> 
                 {{ len .reports }} evaluation report(s)
            </span>
            <br>

            {{ range .reports }}
            {{ $token := delimit (first 1 (split . ".")) " " }}
            {{ $display := delimit (after 1 (split $token "_")) " " }}

                    <a target="_blank" href="/evaluation/{{.}}">
                        <button type="button" class="btn btn-outline-dark btn-sm mb-2">
                            <i class="far fa-file-pdf"></i>
                            {{$display}}
                        </button>
                    </a>

            {{ end }}
         </p>
        {{ end }}


        {{if .tags}}
            <p>
            {{ range .tags}}
            <span class="badge badge-pill badge-warning">{{.}}</span>
            {{end}}
            
            {{ if gt (len .tags) 1 }}
            <br>
            <span class="small">old course codes and honour course codes are mapped to the most relevant existing course code</span>
            </p>
            {{ end }}
        {{end}}



</div>
{{ end }}