{{ define "css" }}
<style>
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.3);
    }
    #profile-image {
        width: 150px;
        height: auto !important;
    }
    .profile-background {
        background-image: url("{{$.Site.BaseURL}}css/pattern.png");
        background-repeat: repeat;
    }

    .region-hover:hover {
        animation: rotate-move 1s;
    }
    @keyframes rotate-move {
        0% { transform:  rotate(0deg); }
        50% { transform: rotate(-25deg); }
        100% { transform: rotate(0deg); }
    }

</style>
{{ end }}

{{ define "main" }}
<div class="container">
    <div class="row h-100">

        <div class="col-12 col-md-12 col-lg-3 p-2 text-center text-sm-left">

            <div class="card profile-background">

                <div class="text-center">
                    {{ with .Site.Data.homepage }}
                    <img id="profile-image" class="region-hover card-img-top rounded-circle img-thumbnail mt-2"
                         src="{{.profile_url}}" alt="Profile Image">
                    {{ end }}
                </div>

                <div class="card-body text-center">
                    <h4 class="card-title">{{ with .Site.Params.author }} {{.}} {{ end }}</h4>


                    <p>
                    {{ with .Site.Data.homepage.social }}
                        {{ range . }}
                            {{ if .url }}
                               <a {{if .ext}}target="_blank" {{end}} href="{{.url}}"><i class="region-hover {{.icon}}"></i></a>
                            {{ end }}
                        {{ end }}

                    {{ end }}
                    </p>

                    {{ with .Site.Data.homepage.tags }}
                        {{ range . }}
                        <span class="badge badge-success"> {{.name}}</span>
                        {{ end }}
                    {{ end }}

                </div>
            </div>


        </div>

        <div class="col-12 col-lg-9 p-2">
            {{ partial "slideshow.html" . }}
        </div>

        <div class="row text-center w-100">

            <div class="p-3 col-6 col-lg-3 ">

                <h1><i class="region-hover fas fa-trophy"></i>
                    {{ len .Site.Data.hackathon.awards }}</h1>
                <h3>Prizes</h3>
                <p class="small">from Hackathon</p>


            </div>

            <div class="p-3 col-6 col-lg-3">
                <h1><i class="region-hover fab fa-hire-a-helper"></i>
                    {{len .Site.Data.hack_timeline.events}}</h1>
                <h3>Hackathons</h3>
                <p class="small">organized / joined</p>
            </div>

            <div class=" p-3 col-6 col-lg-3">
                <h1><i class="region-hover fas fa-graduation-cap"></i>
                    {{ len .Site.Data.alum_timeline.events }}</h1>
                <h3>Alumni Events</h3>
                <p class="small">organized / joined</p>

            </div>

            <div class=" p-3 col-6 col-lg-3">
                <h1><i class="region-hover fas fa-book"></i>
                    {{ partial "evaluation_report_count.html" . }}</h1>
                <h3>TA Evaluation</h3>
                <p class="small">reports received</p>
            </div>




        </div>


    </div>
</div>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}

