{{ define "page_meta" }}

<meta property="og:type" content="website" />
<meta property="og:title" content="{{.Site.Title}}" />
<meta property="og:description" content="{{.Title}}"  />
<meta property="og:url" content="{{.Permalink}}" />
<meta property="og:site_name" content="{{.Site.Title}}" />
<meta property="og:image" content="{{ "images/home_screen.jpg" | absURL}}" />

{{ end }}

{{ define "css" }}
<style>
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.3);
    }
    #profile-image {
        width: 150px;
        height: auto !important;
    }
    .profile-background {
        background-image: url("{{$.Site.BaseURL}}css/pattern.png");
        background-repeat: repeat;
    }

    .region-hover:hover {
        animation: rotate-move 1s;
    }
    @keyframes rotate-move {
        0% { transform:  rotate(0deg); }
        50% { transform: rotate(-25deg); }
        100% { transform: rotate(0deg); }
    }

</style>
{{ end }}

{{ define "main" }}
<div class="container">
    <div class="row h-100">

        <div class="col-12 col-md-12 col-lg-3 p-2 text-center text-sm-left">

            <div class="card profile-background">

                <div class="text-center">
                    {{ with .Site.Data.homepage }}
                    <a href="/profile"><img id="profile-image" class="region-hover card-img-top rounded-circle img-thumbnail mt-2"
                         src="{{.profile_url}}" alt="Profile Image"></a>
                    {{ end }}
                </div>

                <div class="card-body text-center">
                    <h4 class="card-title">{{ with .Site.Params.author }} {{.}} {{ end }}</h4>


                    <p>
                    {{ with .Site.Data.homepage.social }}
                        {{ range . }}
                            {{ if .url }}
                               <a {{if .ext}}target="_blank" {{end}} href="{{.url}}"><i class="region-hover {{.icon}}"></i></a>
                            {{ end }}
                        {{ end }}

                    {{ end }}
                    </p>

                    {{ with .Site.Data.homepage.tags }}
                        {{ range . }}
                        <span class="badge badge-success"> {{.name}}</span>
                        {{ end }}
                    {{ end }}

                </div>
            </div>


        </div>

        <div class="col-12 col-lg-9 p-2">
            {{ partial "slideshow.html" . }}
        </div>

        <div class="row text-center w-100">

            <div class="p-3 col-6 col-lg-3 ">

                <h1><a href="/testimonial"><i class="region-hover far fa-comments"></i></a>
                    <span id="testimonial_count"> 0 </span></h1>
                <h5>Testimonials</h5>
                <p class="small">from senior and friends</p>


            </div>

            <div class="p-3 col-6 col-lg-3">
                <h1><a href="/hackathon"><i class="region-hover fab fa-hire-a-helper"></i></a>
                    <span id="hackathon_count"> 0 </span> </h1>
                <h5>Hackathons</h5>
                <p class="small">organized or joined</p>
            </div>

            <div class=" p-3 col-6 col-lg-3">
                <h1><a href="/alumni"><i class="region-hover fas fa-graduation-cap"></i></a>
                   <span id="alumni_count"> 0 </span> </h1>
                <h5>Alumni Events</h5>
                <p class="small">organized or joined</p>

            </div>

            <div class=" p-3 col-6 col-lg-3">
                <h1><a href="/teaching"><i class="region-hover fas fa-book"></i></a>
                    <span id="evaluation_count">0</span></h1>
                <h5>Evaluation Reports</h5>
                <p class="small">from students</p>
            </div>




        </div>


    </div>
</div>
{{ end }}

{{ define "page_js" }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.9.3/countUp.min.js"></script>
<script>

    var options = {
        useEasing: true
    };
    var t = 2;
    new CountUp("testimonial_count", 0, {{ len .Site.Data.testimonial.item }}, 0, t, options ).start();
    new CountUp("hackathon_count", 0,  {{len .Site.Data.hack_timeline.events}}, 0, t, options ).start();
    new CountUp("alumni_count", 0,  {{ len .Site.Data.alum_timeline.events }}, 0, t, options ).start();
    new CountUp("evaluation_count", 0,   {{  int (trim (partial "evaluation_report_count.html" .) "\n ") }}, 0, t, options ).start();




</script>


{{ end }}


{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}

